[Desktop Entry]
Version=1.0
Type=Application
Name=SCM
Comment=Sistema de controle de matriculas - SCM
Exec=scm
Icon=scm.png
Categories=Office;
Terminal=false
StartupNotify=false
